[Unit]
Description=NFTBan Daily Backup (ruleset + configs)

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/lib/nftban/cli/cmd_backup.sh
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=full
ProtectHome=yes
RestrictSUIDSGID=yes
LockPersonality=yes
SystemCallArchitectures=native
SystemCallFilter=@system-service
ReadWritePaths=/var/backups/nftban /var/log/nftban /etc/nftban

[Install]
WantedBy=multi-user.target
