[Unit]
Description=NFTBan System Monitoring Timer
Documentation=https://github.com/itcmsgr/nftban
Requires=nftban-monitor.service

[Timer]
# Run every 5 minutes
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true

[Install]
WantedBy=timers.target
